<form id="formId" ng-submit="getInput(word)">
    <input id="inputBox" type="text" placeholder="Adjective" ng-model="word.adj01">
    <input id="inputBox" type="text" placeholder="Adjective" ng-model="word.adj02">
    <input id="inputBox" type="text" placeholder="Noun" ng-model="word.noun01">
    <input id="inputBox" type="text" placeholder="Noun" ng-model="word.noun02">
    <input id="inputBox" type="text" placeholder="Verb" ng-model="word.verb02">
    <input id="inputBox" type="number" placeholder="Number" ng-model="word.num01">
    <input id="inputBox" type="text" placeholder="Color" ng-model="word.color01">
    <button id="subBtn" type="submit">Submit</button>
</form>
